:root {
    --fuenteMarca: 'Cabin', sans-serif; 
    --fuenteBase: 'Varta', sans-serif;  /* PARA BAJARLAS EN EL .HTML: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Varta:wght@400;700&display=swap" rel="stylesheet">*/
    
    --colorFB: #454150;              /* color Fuente de textos Base  */
    --colorFVC: #45B6CC;             /* color Fuente Celeste, para Vinculos de la Página, y hover de las nav  */
    --colorFVR: #FFE4E9;             /* color Fuente Rosa, para Vinculos de las Nav, y Hover de la Página  */  
    --bcolorB: #F5F5F5;              /*backgrond color Base, es decir, de TODA la página*/
    --bcolorNyV: #454150;            /* background color de las Navs y los Vinculos de la Página*/
    --azulPaleta: #0C479D;           /*color extra*/
    --fucsiaPaleta: #FC6294;         /*color extra*/
    --cremaPaleta: #FCF5E3;          /*color extra*/
  
}

/* cear una clase de cada uno y llamarlas en los elementos respectivos, mudándolas en sus componentes */

h1 {
  font: bold 80px var(--fuenteMarca) !important;
  word-spacing: 15px;
  letter-spacing: 3px;
  color: var(--colorFB) !important;
}

main{
  font-family: var(--fuenteBase);
  color: var(--colorFB) !important;
  background-color: var(--bcolorB);
}

footer {
  background: var(--bcolorNyV);
  max-height: 75px;
}
footer p{
  color:var(--colorFVR);
  text-align:center;
}
  