.vincnav{
    color: var(--colorFVR);
  }
  .vincnav:hover{
    color: var(--colorFVC);
  }
  
  .navbar {
    min-height: 25px;
    background-color: var(--bcolorNyV) !important;
    border-bottom: 1px solid #45B6CC;
  }
  
  .isotipoNav{
    max-height: 50px;
  }